/* 

Hosting Square - CSS File

*/


/*** GLOBAL  ***/
body {
	font-family:Tahoma, Verdana;
	font-size:13px;
	margin:0 auto;
	padding:0;
	color:#333333;
	line-height:18px;
	background-color:#e9e9e9;
}
* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
.clear{clear:both; height:1px !important; line-height:1px !important; float:none!important}
form{margin:0; padding:0;}
hr {
border-width:0;
height:1px;
line-height:0;
margin:30px 0px;
page-break-after:always;
text-align:center;
width:100%;
clear:both;
color:#d3d8e0;
background-color:#d3d8e0;
background-repeat:repeat-x
}
input[type=text], textarea
{
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	border:solid 1px #d3d8e0;
	margin:4px 4px 8px 0px; 
	padding:5px; 
	color:#acacac; 
	vertical-align:middle; 
	font-size:11px;}
/*** END OF GLOBAL  ***/

/*** DEFAULT ELEMENT STYLES ***/
/* heading */
h1, h2{margin-bottom:12px; font-family:Arial, Verdana;}
h3, h4, h5, h6{margin-bottom:8px; font-family:Arial, Verdana;}
h1 {font-size:30px; line-height:32px;}
h2 {font-size:24px; line-height:26px;}
h3 {font-size:20px; line-height:22px;}
h4 {font-size:24px; line-height:20px;}
h5, h6 {font-size:14px; line-height:15px;}
h1, h2, h3, h4, h5, h6{ font-weight:700; color:#000000;}
/* links */
a, a:visited {color:#e99719; text-decoration:none; font-weight:normal; }
a:hover{color:#f7aa34; text-decoration:underline;}
a img{border:none}
/* float align */
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 15px;
	margin-top: 3px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 15px;
	margin-top: 5px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.alignnone,
img.alignnone {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:3px;
}


img.alignleft, 
img.alignright, 
img.aligncenter,
img.alignnone {
	margin-bottom: 12px;
}
img.alignleft, img.alignright, img.aligncenter, img.alignnone {}


/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	font-size:13px; font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; text-align:justify; color:#333333;
	margin-bottom:20px;
}
ul, ol {
	margin:10px 0 20px 20px;
	list-style-position:inside
}
li ol,
li ul
{
	list-style:square;
	margin-bottom:0;
	margin-top:0;
}
li ol {list-style:decimal;}
	
blockquote {
	/*font-style:italic;*/
	margin:0px 0 0px 0px;
	color:#9a9a9a;
	padding:0px 10px 0px 60px;
	background-image:url(../images/quote.gif);
	background-repeat:no-repeat;
	background-position:0px 0px;
	clear:both;
	}
	

blockquote.left, blockquote.right  {
	float:right;
	letter-spacing:0px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:0px;
	padding:0px 20px 10px 60px;
	width:43%;
	background-position:0px 0px;
	}
	
blockquote.left{
	float:left;
	margin-left:0px;
	margin-right:20px;}

blockquote p{margin-bottom:0px;}

/* code */
code {
	font-family:Verdana, Arial;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:0.9em;
	border-left:4px solid #e0e0e0;
	padding:15px 10px;
}

/* text styled and button */

/*** END OF DEFAULT ELEMENT STYLES ***/

/*** CONTAINER ***/
#wrapper-top{ background-repeat:repeat-x; background-color:#fafafa}
#wrapper-bottom{background-color:#e9e9e9;}
#container-top{margin:0 auto; width:996px;}
#container-bottom{margin:0 auto; width:990px;}



/* TOP */
#top{ height:100px;}W
#logo h1, #logo h1 a, #logo h1 a:visited{font-size:40px; color:#3d73a2; margin-bottom:0px;  padding:20px 0px 0px 40px; text-decoration:none; font-weight:normal; }
#logo h1 a:hover{text-decoration:none;}
#logo .desc{color:#7c7a6b; font-size:14px; padding-left:25px;}
#logo{width:320px; float:left;}

#navtop{background-image:url(../images/bg-navtop.png); background-repeat:no-repeat; background-position:top; height:50px; position:relative; z-index:100}


#topnav, #topnav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	line-height:1.5em; 
}
#topnav{padding: 5px 0px 0px 13px;}
#topnav a{
	display:block;
	padding:0px 0px;
	color:#000000; 
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
	font-size:16px;
	text-decoration:none;
	text-transform:capitalize;
	width:150px;
	height:41px;
	font-weight:700;
}

#topnav a.current{color:#3e4653; background-image:url(../images/bg-navlink.gif); background-repeat:no-repeat; }

#topnav a:hover{
	background-image:url(../images/bg-navlink.gif); background-repeat:no-repeat; 
}

#topnav li a:hover {
	background-image:url(../images/bg-navlink.gif); background-repeat:no-repeat; 

}
#topnav li:hover a, 
#topnav li.sfHover a {
	background-image:url(../images/bg-navlink.gif); background-repeat:no-repeat; 
}
#topnav li:hover ul a:hover, 
#topnav li.sfHover ul a:hover {
	background-image:url(../images/bg-navlink.gif); background-repeat:no-repeat; 
}


#topnav li{
	float:left;
	position:relative;
	padding-left:0px;
	padding-right:0px;
	line-height:38px;
	padding-bottom:4px;
	padding-top:2px;
	font-size:12px;
	text-align:center;
	margin-right:2px;
	
	
}

#topnav li#home{background-image:none;}

#topnav li li{
	padding-right:0px;
	text-transform:capitalize;
	line-height:27px;
	padding:0px 0px;
	background-image:none;
	
	
}

#topnav ul {
	position:absolute;
	display:none;
	width: 250px;
	top:3.3em;
	left:0px;
	background-image: url(../images/bg-navtop.png);
	padding-bottom:25px;
	border:solid 1px #e99719;
	border-width:0px 1px 1px 1px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}

#topnav li ul a{
	width: 216px;
  height: auto;
  margin: 0 0px;
  padding: 0px 22px 4px 10px;
  text-transform: capitalize;
  border-bottom: solid 1px #000000;
  text-align: left;
  color: #000000;
  font-size: 13px;
  font-weight: normal;
	
}

#topnav li ul a, #topnav li ul a:hover{background-image:none !important; }

#topnav li ul a:hover{color:#FFFFFF; background:#000000; border:1px solid #CCCCCC;}

#topnav ul ul{
	top:0px;
}	

#topnav li ul ul {
	left:12em;
	margin:0px 0 0 0px;
}

#topnav li:hover ul ul, #topnav li:hover ul ul ul, #topnav li:hover ul ul ul ul{
	display:none;
}
#topnav li:hover ul, #topnav li li:hover ul, #topnav li li li:hover ul, #topnav li li li li:hover ul{
	display:block;
}

/* SLIDESHOW */
#slider-container{height:380px; background-color:#A6A4A7; margin-bottom:10px;background-image:url(../images/slider-bottom.gif); background-repeat:no-repeat; background-position:left bottom; position:relative}

#slider-frame{background-image:url(../images/slider-frame.gif); background-repeat:no-repeat; position:absolute; width:714px; height:6px; top:0; z-index:80 !important}

/* BOX */
.box{
	-moz-border-radius: 5px; /* Firefox */
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	border:solid 1px #d3d8e0;
	padding:30px 30px 20px 30px;
	margin-bottom:10px;
	margin-top:24px;
	background:#E2E2E2;
}


.box table {
background:#333333;
width:652px;
border:1px solid #FFFFFF;
border-collapse:collapse;
}
.box table tr {
border-bottom:1px solid #FFFFFF;
}
.box table th {
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
font-size:12px;
font-weight:700;
text-transform:capitalize;
border-bottom:1px solid #FFFFFF;
border-right:1px solid #FFFFFF;
text-align:left;
padding-left:10px;
color:#FFFFFF;
width:267px;
background: #0A3566;
}
.box table td {
font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
font-size:12px;
color:#FFFFFF;
background: #305886;
text-align:left;
padding-left:10px;
border-right:1px solid #FFFFFF;
border-bottom:1px solid #FFFFFF;
width:77px;
}



.box2{
	margin-bottom:10px;
	padding:0;
	height:190px;
}
.box2 img{height:190px;}

.boxcolor{
	-moz-border-radius: 5px; /* Firefox */
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px; /* Safari, Chrome */
	border-radius: 5px; /* CSS3 */
	padding:15px 15px 23px 15px;
	width:auto;
	margin-bottom:10px;
	background-color:#323945;
}

*+html .boxcolor{padding:15px 15px 17px 15px; margin-bottom:11px;}

#mainright .box{padding:30px 20px 30px 20px;}

#guarantees{float:left; width:290px; margin-right:10px; }
#testimonials{float:left; width:290px;}
.box-cycle{position:relative;}
.navprev, .navnext{position:absolute; cursor:pointer; height:8px; width:13px ; display:block; text-indent:-9999px;}
.navprev{top:-30px; right:20px; background-image:url(../images/prev.gif); background-repeat:no-repeat;}
.navnext{top:-30px; right:0; background-image:url(../images/next.gif); background-repeat:no-repeat;}

/* CONTENT */
#main{background-image:url(../images/bg-main.png); background-repeat:repeat-y; padding:10px 13px 0px 13px;}
#main2{background-image:url(../images/bg-main.png); background-repeat:repeat-y; padding:10px 13px 0px 13px;} /* for contact page */
#mainleft{width:714px; float:left}
#mainright{width:246px; padding-left:10px; float:left}
#main2 #mainleft{width:584px; float:left} /* for contact page */
#main2 #mainright{width:376px; padding-left:10px; float:left} /* for contact page */
.widget-title{margin-bottom:8px;}
.box-cycle blockquote{padding-left:0px;}
.box-cycle blockquote div{padding-left:50px; padding-bottom:18px;}

/* LIST */
ul.list{list-style-type:none; margin:0 0 18px 0; padding:0; background:#F5F1F1}
ul.list li{list-style-type:none; margin:0; padding:6px 0 6px 23px; background-image:url(../images/list.png); background-repeat:no-repeat; background-position:5px 13px; list-style-position:outside; line-height:20px; border-bottom:1px dotted #333333;}

#mainright ul{list-style-type:none; margin:0 0 0px 0; padding:0; list-style-position:outside; border:1px solid #333333; border-bottom:none;}
#mainright h1 {background:#4f9df5; height:40px; padding-top:10px; text-align:center; margin-top:25px; margin-bottom:0px; border:1px solid #333333; border-bottom:none;}
#mainright ul li li{list-style-type:none; margin:0; padding:6px 0 6px 20px; background-image:url(../images/arrow.gif); background-repeat:no-repeat; background-position:0px 10px; border-bottom:solid 1px #e6e6e6; }
#mainright ul.noborder li li{background-image:url(../images/list.png); background-repeat:no-repeat; background-position:0px 10px; border:0px; }

#mainright ul li a, #mainright ul li a:visited{color: #C34D10;}
#mainright ul li a:hover {color:#CE0000;}


#mainright .sidebarr ul{background: #F5F1F1;}
#mainright .sidebarr ul li {list-style:inside circle; color:#333333; border-bottom:1px dotted #333333; line-height:30px; padding-left:10px;}
#mainright .sidebarr ul li a {color:#333333; font-weight:500;}
#mainright .sidebarr ul li a:hover {color:#e99719;}



#mainright .widget-container{clear:both; margin-bottom:15px !important;}
.boxcolor ul.list{padding-top:10px !important; margin:0px !important;}
.boxcolor ul.list li{line-height:16px; padding:0px 0 0px 20px; text-transform:uppercase; font-size:11px; background-position:0px 4px}

ul.social{list-style-type:none; margin:0; padding:0; float:right;}
ul.social li{display:inline; padding:0 2px;}

/* TEXT STYLED */
.title-plan{font-size:24px; color:#acacac; width:200px;}
.styled1{color:#e99719;}
.price{font-size:36px; color:#fff !important; font-weight:bold; display:block}
.rightblock{float:right; color:#fff !important; text-align:center; padding-left:8px;}
.but-order{display:block; padding-top:5px;}

/* FOOTER */
#footer{ background-color:#4f9df5; background-image:url(../images/bg-footer-b.gif); background-repeat:no-repeat; background-position:left bottom; float:left; color:#e9e9e9; padding:20px 40px 40px 40px; width:910px;}
#footer ul{list-style-type:none; margin:0; padding:0;}
#footer ul li{list-style-type:none; margin:0; padding:0;}
#footer ul li li{border-bottom:dotted 1px #CCCCCC; padding:4px 0;}
#footer ul li a, #footer ul li a:visited{color:#e9e9e9}
#footer p{color:#FFFFFF;}
#footer h2{color:#e9e9e9;}

#footer-bottom{
   padding: 20px 0px 0px 0px;
  width: 960px;
  clear: both;
}
.logo-bottom{text-transform:uppercase; margin-bottom:5px; font-weight:bold}

/* column list */
.four_column{list-style-type:none; margin:0px; padding:0px;}
.four_column li{list-style-type:none;width:22%; margin-right:4%; float:left;}
.four_column p{margin-bottom:10px;}

.three_column{list-style-type:none; margin:0px; padding:0px;}
.three_column li{list-style-type:none;width:30.66%; margin-right:4%; float:left;}
.three_column p{margin-bottom:10px;}

.two_column{list-style-type:none; margin:0px; padding:0px;}
.two_column li{list-style-type:none;width:48%; margin-right:4%; float:left;}
.two_column p{margin-bottom:10px;}

.three_four_column{list-style-type:none; margin:0px; padding:0px;}
.three_four_column li{list-style-type:none;width:74%; margin-right:4%; float:left;}
.three_four_column p{margin-bottom:10px;}

.two_column h1, .three_column h1, .four_column h1, .three_four_column h1{margin:8px 0px 5px 0px; font-size:24px; color:#3d73a2}
.two_column h2, .three_column h2, .four_column h2, .three_four_column h2{margin:8px 0px 5px 0px; font-size:24px; color:#3d73a2}
.two_column li li, .three_column li li, .four_column li li, .three_four_column li li{margin:0px; width:auto !important; float:none;}



/* column */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.one_fourth{width:22%; }
.three_fourth{width:74%;}
.one_half,.one_third,.one_fourth, .three_fourth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; }

.one_fourth p{margin-bottom:10px;}




/*==== Dropcaps ====*/
.letercap{
	display:block;
	float:left;
	font-size:35px;
	line-height:35px;
	margin:0 8px 0 0;}
.bk-right{ float:right; width:30%; margin-left:20px;}
.bk-left{ float:left; width:30%;}

/*==== Highlight ====*/
.highlight1{padding:1px 4px;background-color:yellow;color:#111;}	
.highlight2{padding:1px 4px;background-color:#111;color:#eee;}	


/*==== Tables ====*/
table {border-collapse:separate;border-spacing:0;width:100%;border-top:1px solid #ececec;margin-bottom:18px;}
table,td,th { text-align:center;}
th{padding:10px;color:#666;text-transform:uppercase;}
td{padding:10px;color:red; font-size:15px;}
tfoot td{border:0px;}
th,tr:hover{background-color:#ececec;}

table {
	border: 1px solid #999999;
	text-align: left;
	margin: 0 -1px 24px 0;
	width: 100%;
}
tr th,
thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
tr td {
	border-top: 1px solid #999999;
	padding: 6px 24px;
}
tr.odd td {
	background: #F2F7FC;
}



.infoFrom{
	width:250px;
	padding:0px 0px 0px 0px;
	text-align:center;
	font-family:marmelad, sans-serif;
	font-size:15px;
	color:#115E69;
	background:url(../images/form-bg.gif);
	background-repeat:repeat;
}

.infoFrom h2{
	color:#262626;
	font-weight:bold;
	letter-spacing:-1px;
	font-family: 'Marmelad', sans-serif;
	font-size:20px;
	height:40px;
	margin:0px 0px 0px 0px;
	padding-top:12px;
	
	
}
.formBox{
	width:257px;
	height:330px;
	float:right;
	padding:20px 0 0 0;
	background-image:url(../images/form-back.png);
	background-repeat:no-repeat;
}

.detailBox{
	width:205px;
	margin:0 0 10px 0;
	padding:7px;
	font-size:11px;	
	font-family:Arial, Helvetica, sans-serif;
	color:#636363;
	background-color:#f2f2f2;
	border:#ccc solid 1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.quoteDet{
	width:205px;
	margin:0 0 8px 0;
	padding:7px;
	height:60px;
	font-size:11px;	
	font-family:Arial, Helvetica, sans-serif;
	color:#636363;
	background-color:#f2f2f2;
	border:#ccc solid 1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.submitButton{
	width:220px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color:#ccc;
	cursor:pointer;
	height:50px;
	border:#b2b2b2 solid 1px;
	background-image:url(../images/submit.png);
	background-repeat:no-repeat;
	background-position: center center;
	box-shadow:inset 0px 0px 1px 1px #fff;
	-moz-box-shadow:inset 0px 0px 1px 1px #fff;
	-webkit-box-shadow:inset 0px 0px 1px 1px #fff;
}

.para {
    background-color:#666666; 
    width:690px; 
	height:270px;
	margin-left:-20px;
	border:1px solid #FFFFFF;
}

.para h1 {
    color:#000000; 
	background-color:#999999;
	border-bottom:1px solid #FFFFFF;
	height:34px;
	font-size:20px;
	padding-left:20px;
	padding-top:0px;
}

.para p {
    color:#FFFFFF; 
	font-size:13px;
	padding-left:20px;
	padding-right:20px;
	margin-top:40px;
}

.para .button {
    margin-left:300px;
}

.para img {
    margin-left:15px;
	margin-right:15px;
	margin-top:3px;
}

.zoom_img img{

height:200px;
width:200px;
-moz-transition:-moz-transform 0.1s ease-in; 
-webkit-transition:-webkit-transform 0.1s ease-in; 
-o-transition:-o-transform 0.1s ease-in;
}
.zoom_img img:hover{
-moz-transform:scale(2);  position:relative; z-index:500;
-webkit-transform:scale(2);
-o-transform:scale(5);
}
.blue-button{
width:80px;
height:28px;
background-color:#003366;
font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
padding-top:10px;
padding-left:15px;
border-radius:18px;
}
.blue-button a {
color:#FFFFFF;
font-weight:700;
}
.blue-button a:hover {
color:#FFFF00;
text-decoration:none;
}